<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <h1 clacc="text-center">Sing In</h1>
    <div class="alert alert-info">
      <p>
        <strong>Demo User1</strong> <br> email: user0@example.com<br> pass: password
      </p>
      <p>
        <strong>Demo User2</strong> <br> email: user1@example.com<br> pass: password
      </p>
    </div>
    <div class="form-group">
      <input class="form-control" type="email" placeholder="Email" ng-model="email" required>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" placeholder="Password" ng-model="password" required>
    </div>
    <button class="btn btn-primary" ng-click="userSignIn()">Sign In</button>
  </div>
</div>